@using Booking.ViewModel
@model MessageDetailViewModel
<style>
    input{
        background-color:transparent;
        font-size:25px;
    }
    label{
        font-size:20px;
    }
    
</style>

<div class="bg-secondary rounded h-100 p-4" id="formDetails">
<div class="row">
    <div class="col-md-9">
<h4>Message Detail</h4>
            <form method="get" asp-action="HotelManagerRoleConfirmation" asp-controller="Admin" asp-route-id="@Model.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group d-flex m-2">
                <label  class="col-4 control-label">Hotel Manager Name</label>
                <input value="@Model.HotelManagerName" class=" form-control" disabled />
                <span  class="text-danger"></span>
            </div>
            <div class="form-group d-flex m-2">
                <label  class="col-4 control-label"> Gender</label>
                <input value="@Model.Gender" class="form-control" disabled />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group d-flex m-2">
                <label  class="col-4 control-label">Email</label>
                <input  value="@Model.Email" class="form-control" disabled />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group d-flex m-2">
                <label  class="col-4 control-label">Phone Number</label>
                <input value="@Model.PhoneNumber" class="form-control" disabled />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group d-flex m-2">
                <label  class="col-4 control-label">Hotel Name</label>
                    <input value="@Model.HotelName" class="form-control" disabled />
                <span asp-validation-for="HotelName" class="text-danger"></span>
            </div>
            <div class="form-group d-flex m-2">
                <label  class="col-4 control-label"> Hotel Country</label>
                <input value="@Model.HotelCountry" class="form-control" disabled />
                <span asp-validation-for="HotelCountry" class="text-danger"></span>
            </div>
            <div class="form-group d-flex m-2">
                <label class="col-4 control-label"> Hotel City</label>
                <input value="@Model.HotelCity" class="form-control" disabled />
                <span asp-validation-for="HotelCity" class="text-danger"></span>
            </div>
            <div class="form-group d-flex m-2">
                <label  class="col-4 control-label">Hotel Street</label>
                <input value="@Model.HotelStreet" class="form-control" disabled />
                <span asp-validation-for="HotelStreet" class="text-danger"></span>
            </div>
            <div class="form-group d-flex m-2">
                <label  class="col-4 control-label">Hotel Description</label>
                <input value="@Model.HotelDescription" class="form-control" disabled/>
                <span asp-validation-for="HotelDescription" class="text-danger"></span>
            </div>
            @*<div class="form-group d-flex m-2">
                <label  class="col-4 control-label"></label>
                <input value="@Model.Image" class="form-control" disabled />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>*@
            <div class="form-group d-flex m-2">
                <label  class="col-4 control-label">Hotel Rate</label>
                <input value="@Model.Rate" class="form-control" disabled />
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <input  type="submit" onclick="HideDetail()" value="Approve" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</div>

<script>
    function HideDetail()
    {
       
       document.getElementById("formDetails").style.display="none";
       console.log("Hide");
    }
</script>
