@using BookingLibrary.Models
@model Hotel

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "UpdateHotel";
}

<style>
    input {
        background-color: transparent;
        font-size: 25px;
        color: white !important;
    }

    label {
        font-size: 20px;
    }
</style>

<h4>Message Detail</h4>
<div class=" rounded h-100 p-4" id="formDetails" style="background-color:white">
    <div class="row">
        <div class="col-md-9  d-flex justify-content-center">



            <form method="post" asp-action="UpdateHotel" asp-route-id="@Model.Id" style="background-color:#191C24; padding:50px; border-radius:10px;">


                <div class="form-group d-flex m-2">
                    <label class="col-4 control-label"> Name</label>
                    <input value="@Model.Name" asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group d-flex m-2">
                    <label class="col-4 control-label"> Country</label>
                    <input value="@Model.Country" asp-for="Country" class="form-control" />
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
                <div class="form-group d-flex m-2">
                    <label class="col-4 control-label">  City</label>
                    <input value="@Model.City" asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group d-flex m-2">
                    <label class="col-4 control-label"> Street</label>
                    <input value="@Model.Street" asp-for="Street" class="form-control" />
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>
                <div class="form-group d-flex m-2">
                    <label class="col-4 control-label"> Description</label>
                    <input value="@Model.Description" asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                @*<div class="form-group d-flex m-2">
                <label  class="col-4 control-label"></label>
                <input value="@Model.Image" class="form-control" disabled />
                <span asp-validation-for="Image" class="text-danger"></span>
                </div>*@
                <div class="form-group d-flex m-2">
                    <label class="col-4 control-label"> Rate</label>
                    <input value="@Model.Rate" asp-for="Rate" class="form-control" />
                    <span asp-validation-for="Rate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="update" class="btn btn-primary" />
                    <a href="~/Admin/AdminNotifications" class="nav-item nav-link"> <i class="fa fa-bell me-lg-2"></i>cancel</a>

                    @*                <input href="~/Admin/AdminHotels" type="button" value="Cancel" class="btn btn-primary" />
                    *@
                </div>
            </form>

        </div>
    </div>
</div>




