@model List<Hotel>
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_BookingLayout.cshtml";
}
<style>
    .citycard:hover {
        border: 1px solid #997320;
        width: 370px;
    }

</style>
<div class="fh5co-listing">
    <div class="container">
        <div class="row">
            @foreach (var city in ViewBag.Cities)
            {
                <a asp-action="HotelsofSpecificCity" asp-controller="Hotel" asp-route-name="@city">
                    <div class="col-md-4 col-sm-4 fh5co-item-wrap " style=" margin-bottom: 18px;">
                        <div class="card citycard" style="width:320px ">
                            <img class="card-img-top imge" src="/Images/Cairo_1.jpg" alt="Card image">

                            <div class="card-img-overlay">
                                <h2 class="card-title text-white">@city</h2>
                            </div>
                        </div>
                    </div>
                </a>
            }




        </div>
    </div>

</div>

<h2 class="mb-4" style="margin-top: 20px;">Exclusive Hotels</h2>

<div class="card-deck">
    @foreach (var hotel in Model)
    {
        if ((int)hotel.Rate >= 5)
        {

            <div class="col-sm col-md-6 col-lg-4 ftco-animate ">
                <div class="room">
                    <a asp-action="getPhotos" asp-controller="HotelDetails" asp-route-id="@hotel.Id" class="img d-flex justify-content-center align-items-center" style="background-image: url(/Images/image_5.jpg);">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="icon-search2"></span>
                        </div>
                    </a>
                    <div class="text p-3 text-center">
                        <h3 class="mb-3"><a asp-action="getPhotos" asp-controller="HotelDetails" asp-route-id="@hotel.Id">@hotel.Name</a></h3>
                        <p><span class="per">@hotel.Country,@hotel.City</span></p>
                        <hr>
                        <p class="pt-1"><a asp-action="getPhotos" asp-controller="HotelDetails" asp-route-id="@hotel.Id" class="btn-custom">View Hotel Details <span class="icon-long-arrow-right"></span></a></p>
                    </div>
                </div>
            </div>
        }
    }
</div>
<div class="container pt-5">
    <h3 class="fs-6 fw-bolder pb-3 ps-2 ">Hotels Guests Love</h3>
    <div id="carouselExampleControls" class="carousel section4" data-bs-ride="carousel">
        <div class="carousel-inner">
            @foreach (var hotel in Model)
            {
                <div class="carousel-item active">
                    <div class="card border-0" style="height: 311px;">
                        <a asp-action="getPhotos" asp-controller="HotelDetails" asp-route-id="@hotel.Id" class="img d-flex justify-content-center align-items-center" style="background-image: url(/images/room-6.jpg);height: 310px;">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="icon-search2"></span>
                            </div>
                        </a>
                        <div class="text p-3 ">
                            <h4 class="mb-3"><a asp-action="getPhotos" asp-controller="HotelDetails" asp-route-id="@hotel.Id">@hotel.Name</a></h4>
                            <p><span class="price mr-2">@hotel.City</span></p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="text-center">
            <button type="button" style="border-radius: 14px;" data-bs-target="#carouselExampleIndicators" class="carousel_control_prev active dots rounded-5 border-0" aria-current="true"></button>
            <button type="button" style="border-radius: 14px;" data-bs-target="#carouselExampleIndicators" class="carousel_control_next dots rounded-5 border-0"></button>
        </div>
    </div>
</div>
<script src="sliderjs.js"></script>
