@using BookingLibrary.Models;
@using RepositoryModel.Models;
@model Hotel

@{
    Layout = "~/Views/Shared/_ContentLayout.cshtml";

}
<section class="ftco-section">
    @* @RenderBody()*@
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-12 ftco-animate">
                        <h2 class="mb-4">Hotel Photos</h2>

                        <div class="single-slider owl-carousel">
                            @foreach (var item in ViewBag.photo)
                            {
                                <div class="item">
                                    <div class="room-img" style="background-image: url(/Images/@item);"></div>
                                </div>
                            }

                        </div>
                    </div>
                    <div class="col-md-12 room-single mt-4 mb-5 ftco-animate">
                        <h3> <p>Description</p></h3>
                        <p>@Model.Description</p>
                        @*  <div class="d-md-flex mt-5 mb-5">
                        <ul class="list">
                        <li><span>Max:</span> 3 Persons</li>
                        <li><span>Size:</span> 45 m2</li>
                        </ul>
                        <ul class="list ml-md-5">
                        <li><span>View:</span> Sea View</li>
                        <li><span>Bed:</span> 1</li>
                        </ul>
                        </div> *@
                    </div>

                    <div class="col-md-12 room-single ftco-animate mb-5 mt-4">
                        <h3 class="mb-4">Take A Tour</h3>
                        <div class="block-16">
                            <figure>
                                <img src="/images/room-4.jpg" alt="Image placeholder" class="img-fluid">
                                <a href="https://vimeo.com/45830194" class="play-button popup-vimeo"><span class="icon-play"></span></a>
                            </figure>
                        </div>
                    </div>

                    @*     <div class="col-md-12 properties-single ftco-animate mb-5 mt-4">

                    <h4 class="mb-4">Review &amp; Ratings</h4>
                    <div class="row">
                    <div class="col-md-6">
                    <form method="post" class="star-rating">
                    <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">
                    <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i> 100 Ratings</span></p>
                    </label>
                    </div>
                    <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">
                    <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i> 30 Ratings</span></p>
                    </label>
                    </div>
                    <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">
                    <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i><i class="icon-star-o"></i> 5 Ratings</span></p>
                    </label>
                    </div>
                    <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">
                    <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i><i class="icon-star-o"></i><i class="icon-star-o"></i> 0 Ratings</span></p>
                    </label>
                    </div>
                    <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">
                    <p class="rate"><span><i class="icon-star"></i><i class="icon-star-o"></i><i class="icon-star-o"></i><i class="icon-star-o"></i><i class="icon-star-o"></i> 0 Ratings</span></p>
                    </label>
                    </div>
                    </form>
                    </div>
                    </div>
                    </div>
                    *@
                    <div class="col-md-12 room-single ftco-animate mb-5 mt-5">
                        <h4 class="mb-4">Available Room</h4>
                        <div class="row">
                            @if (ViewBag.Suit != null)
                            {
                                int c = 0;
                                <div class="col-sm col-md-6 ftco-animate">
                                    <div class="room">
                                        @foreach (var item in ViewBag.Suit.Room.images)
                                        {
                                            if (c < 1)
                                            {
                                                <a asp-action="Details" asp-controller="Room" asp-route-id="@ViewBag.Suit.Room.Id" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/images/@item.Name);">
                                                    <div class="icon d-flex justify-content-center align-items-center">
                                                        <span class="icon-search2"></span>
                                                    </div>
                                                </a>
                                                c++;
                                            }
                                        }
                                        <div class="text p-3 text-center">
                                            <h3 class="mb-3"> <a href="#">suit Room</a></h3>
                                            <p><span class="price mr-2">@ViewBag.Suit.Room.Cost_Per_Night</span> <span class="per">per night</span></p>
                                            <hr>
                                            <p class="pt-1"><a asp-action="Details" asp-controller="Room" asp-route-id="@ViewBag.Suit.Room.Id" class="btn-custom">View Room Details <span class="icon-long-arrow-right"></span></a></p>
                                        </div>
                                    </div>
                                </div>
                            }
                            @foreach (Normal_Room item in ViewBag.normal)
                            {
                                int c = 0;
                                <div class="col-sm col-md-6 ftco-animate">
                                    <div class="room">

                                        @foreach (var itemimages in @item.Room.images)
                                        {

                                            if (c < 1)
                                            {
                                                <a asp-action="Details" asp-controller="Room" asp-route-id="@item.RoomId" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/images/@itemimages.Name);">
                                                    <div class="icon d-flex justify-content-center align-items-center">
                                                        <span class="icon-search2"></span>
                                                    </div>
                                                </a>
                                                c++;
                                            }
                                        }
                                        <div class="text p-3 text-center">
                                            <h3 class="mb-3"> <a href="rooms.html">@item.Type_Of_Room.ToString()</a></h3>
                                            <p><span class="price mr-2">@item.Room.Cost_Per_Night</span> <span class="per">per night</span></p>
                                            <hr>
                                            <p class="pt-1"><a asp-action="Details" asp-controller="Room" asp-route-id="@item.RoomId" class="btn-custom">View Room Details <span class="icon-long-arrow-right"></span></a></p>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div> <!-- .col-md-8 -->
            <div class="col-lg-4 sidebar ftco-animate">
                <div class="sidebar-box">
                    <form action="#" class="search-form">
                        <div class="form-group">
                            <span class="icon fa fa-search"></span>
                            <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
                        </div>
                    </form>
                </div>
                <div class="sidebar-box ftco-animate">
                    <div class="categories">
                        <h3>Address</h3>
                        <li><a href="#">Country <span>@Model.Country</span></a></li>
                        <li><a href="#">City <span>@Model.City</span></a></li>
                        <li><a href="#">Street <span>@Model.Street</span></a></li>
                    </div>
                </div>

                <div class="sidebar-box ftco-animate " id="AllCmnt" style="overflow: auto;
    height: 225px;
    width: 463px;">
                    <h3>Recent Reviews</h3>
                    @*{

                    @foreach (Review item in ViewBag.Reviews)
                    {
                    <div class="block-21 mb-4 d-flex">
                    <a class="blog-img mr-4" id="img" style="background-image: url(https://images.freeimages.com/fic/images/icons/1994/vista_style_business_and_data/256/users.png);"></a>
                    <div class="text">
                    <h5 class="heading" id="appuserName">@item.Customer.AppUser.UserName</h5>
                    <h2 class="heading" id=" txt">@item.Text</h2>
                    </div>
                    </div>
                    }
                    }*@
                </div>

                @if (User.Identity.IsAuthenticated)
                {
                    <div class="sidebar-box ftco-animate">
                        <h3>Enter Comment here</h3>
                        Comment : <textarea id="cmnt" name="cmnt" class="form form-control"></textarea>
                        <br />

                        <input type="button" value="send" class="btn btn-info" onclick="SendComment('@ViewBag.User')" />
                    </div>
                }
                else
                {
                    <div class="sidebar-box ftco-animate">
                        <h3>please Login to Add Comment</h3>
                    </div>
                }

                <div class="sidebar-box ftco-animate">
                    <h3>Tag Cloud</h3>
                    <div class="tagcloud">
                        <a href="#" class="tag-cloud-link">dish</a>
                        <a href="#" class="tag-cloud-link">menu</a>
                        <a href="#" class="tag-cloud-link">food</a>
                        <a href="#" class="tag-cloud-link">sweet</a>
                        <a href="#" class="tag-cloud-link">tasty</a>
                        <a href="#" class="tag-cloud-link">delicious</a>
                        <a href="#" class="tag-cloud-link">desserts</a>
                        <a href="#" class="tag-cloud-link">drinks</a>
                    </div>
                </div>
                <div class="sidebar-box ftco-animate">
                    <div class="media block-6 services py-4 d-block text-center">
                        <div class="d-flex justify-content-center">
                            <i class="fa-solid fa-utensils" style="font-size: 30PX;color: black;margin-right: 30px;"></i>
                            <a href="~/Restaurant/Index"><h3 class="heading mb-3" style="font-size: 21px;color: #8d703b;">Restaurant Bar</h3></a>
                        </div>
                    </div>
                </div>

                <a href="~/Payment/Index" class="tag-cloud-link text-bg-secondary align-text-center"> Make Reserve Now </a>
            </div>
        </div>
    </div>
</section> <!-- .section -->
<section class="ftco-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services py-4 d-block text-center">
                    <div class="d-flex justify-content-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="flaticon-reception-bell"></span>
                        </div>
                    </div>
                    <div class="media-body p-2 mt-2">
                        <h3 class="heading mb-3">25/7 Front Desk</h3>
                        <p>A small river named Duden flows by their place and supplies.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services py-4 d-block text-center">
                    <div class="d-flex justify-content-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="flaticon-serving-dish"></span>
                        </div>
                    </div>
                    <div class="media-body p-2 mt-2">
                        <h3 class="heading mb-3">Restaurant Bar</h3>
                        <p>A small river named Duden flows by their place and supplies.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-sel Searchf-stretch ftco-animate">
                <div class="media block-6 services py-4 d-block text-center">
                    <div class="d-flex justify-content-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="flaticon-car"></span>
                        </div>
                    </div>
                    <div class="media-body p-2 mt-2">
                        <h3 class="heading mb-3">Transfer Services</h3>
                        <p>A small river named Duden flows by their place and supplies.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services py-4 d-block text-center">
                    <div class="d-flex justify-content-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="flaticon-spa"></span>
                        </div>
                    </div>
                    <div class="media-body p-2 mt-2">
                        <h3 class="heading mb-3">Spa Suites</h3>
                        <p>A small river named Duden flows by their place and supplies.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section testimony-section bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 ftco-animate">
                <div class="row ftco-animate">
                    <div class="col-md-12">
                        <div class="carousel-testimony owl-carousel ftco-owl">

                            @foreach (Review item in ViewBag.Reviews)
                            {
                                <div class="item">
                                    <div class="testimony-wrap py-4 pb-5">
                                        <div class="user-img mb-4" style="background-image: url(/images/person_1.jpg)">
                                            <span class="quote d-flex align-items-center justify-content-center">
                                                <i class="icon-quote-left"></i>
                                            </span>
                                        </div>
                                        <div class="text text-center">
                                            <p class="mb-4">@item.Text</p>
                                            <p class="name">@item.Customer.AppUser.UserName</p>
                                            <span class="position">Guests</span>
                                        </div>
                                    </div>
                                </div>

                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{

    <script src="~/lib/microsoft-signalr/signalr.min.js"></script>
    <script>
        console.log("ccess");

        var hub = new signalR.HubConnectionBuilder().withUrl("/Review").build();
        hub.start().then(function () {
            console.log("Connect Success");
        });
        hub.on("AddNewComment", function (name, cmnt, id) {

            if (id == @Model.Id) {

                $("#AllCmnt").append(` <div class="block-21 mb-4 d-flex">
                                                                    <a class="blog-img mr-4" id="img" style="background-image: url(https://images.freeimages.com/fic/images/icons/1994/vista_style_business_and_data/256/users.png);"></a>
                                                                    <div class="text" >
                                                                                <h5 class="heading" id="appuserName">${name}</h5>
                                                                        <h2 class="heading" id=" txt">${cmnt}</h2>
                                                                    </div>
                                                            </div>`);

            }
        });
        function SendComment(Name) {
            console.log("Connect");
            let name = Name;
            let cmnt = $("#cmnt").val();
            let id = @Model.Id;
            console.log(name + ":" + cmnt);
            hub.invoke("NewComment", name, cmnt, id);
        }
    </script>
}


@*<div class="user-img mb-4" style="background-image: url(/images/person_1.jpg)">
    <span class="quote d-flex align-items-center justify-content-center">
    <i class="icon-quote-left"></i>
    </span>
    </div>
    <div class="text text-center">
    <p class="mb-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
    <p class="name">Nathan Smith</p>
    <span class="position">Guests</span>
    </div>*@
